// Primary
$color-primary: #d8faf0;
$color-primary-40: rgba(216, 250, 240, 0.4);

// Secondary
$color-secondary: #5f36ff;

// Others
$color-gray-light: #f9fafa;
$color-text-title: #001632;
$color-text-description: #020e1d;
$color-check: #3fe5b3;
$color-check-background: rgba(216, 250, 240, 0.4);
$color-check-border: rgba(216, 250, 240, 0.6);
$color-star: #35af8a;
$color-link: #2727d9;
$color-link-underline: #3fe5b3;

$color-bg-gray: #f9fafa;
$color-bg-green: #eefff7;
$color-bg-yellow: rgba(250, 245, 216, 0.5);
$color-bg-blue: #eef7fd;
$color-bg-red: #fcf4fe;

// Glider
$glide-dots-inactive: #c0c9c5;
$glide-dots-active: #3fe5b3;

// Fonts
$font-mw: 'Merriweather', serif;
$font-lt: 'Lato', sans-serif;
